@inherits LayoutComponentBase
<NavMenu></NavMenu>

<div class="page">

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<footer class="border-top footer text-muted">
    <div class="container" style="padding: 20px 0; text-align: center;">
        <p>© 2023 - <strong>Steuerrechner.online</strong></p>
        <p><a asp-area="" asp-page="/Impressum" style="color: #6c757d; text-decoration: underline;">Nutzungsbedingungen</a></p>
    </div>
</footer>