@page "/"

@code {
    private MarkupString additionalMetaTag = new MarkupString("<meta name=\"description\" content=\"Landingpage für die Auswahl der verschiedenen Rechner.\" />");
}

<HeadContent>
    @additionalMetaTag
    <title>Onlinerechner Steuer Lohnsteuer Brutto Netto Rechner</title>
</HeadContent>

<div class="d-flex justify-content-center">
    <div id="mycontainer">
        <h1 hidden>Startseite Landingpage der Onlinerechner</h1>
        <!-- Erste Reihe mit zwei Bildern und Titeln -->
        <div class="myrow d-flex justify-content-center" >
            <!-- Gehaltsrechner Bild und Titel -->
            <div class="col-md-6 mb-0 text-center"  >
                <div class="card">
                    <NavLink href="/Angestelltenrechner">
                        <img src="Pictures/gehaltsrechner_arbeitnehmer.webp" loading="lazy" class="img-fluid" alt="Angestellte" />
                        <div class="card-content">
                            <h2 class="display-4 fw-bold text-white">Angestellte</h2>
                        </div>
                    </NavLink>
                </div>
            </div>

            <!-- Kreditrechner Bild und Titel -->
            <div class="col-md-6 mb-0 text-center">
                <div class="card">
                    <NavLink href="/Beamtenrechner">
                        <img src="Pictures/gehaltsrechner_beamte.webp" loading="lazy" class="img-fluid" alt="Beamte">
                        <div class="card-content">
                            <h2 class="display-4 fw-bold text-white">Beamte</h2>
                        </div>
                    </NavLink>
                </div>
            </div>
        </div>

        <!-- Zweite Reihe mit zwei Bildern und Titeln -->
        <div class="myrow d-flex justify-content-center">
            <!-- Haushaltsrechner Bild und Titel -->
            <div class="col-md-6 mb-0 text-center">
                <div class="card">
                    <NavLink href="/Selbststaendigenrechner">
                        <img src="Pictures/nettorechner_selbststaendige.webp" loading="lazy" class="img-fluid" alt="Selbständige">
                        <div class="card-content">
                            <h2 class="display-4 fw-bold text-white">Selbständige</h2>
                        </div>
                    </NavLink>
                </div>
            </div>

            <!-- Spartipps Bild und Titel -->
            <div class="col-md-6 mb-0 text-center">
                <div class="card">
                    <NavLink href="/Abfindungsrechner">
                        <img src="Pictures/abfindungsrechner_angestellte_steuer.webp" loading="lazy" class="img-fluid" alt="Spartipps">
                        <div class="card-content">
                            <h2 class="display-4 fw-bold text-white">Abfindung</h2>
                        </div>
                    </NavLink>
                </div>
            </div>
        </div>
    </div>
</div>
