@page "/"

@code {
    private MarkupString additionalMetaTag = new MarkupString("<meta name=\"description\" content=\"Your page description\" />");
}

<HeadContent>
    @additionalMetaTag
    <title>Onlinerechner Steuer Lohnsteuer Brutto Netto Rechner</title>
</HeadContent>

<body>
    <div class="mycontainer">
        <h1 hidden>Startseite Landingpage der Onlinerechner</h1>
        <!-- Erste Reihe mit zwei Bildern und Titeln -->
        <div class="row">
            <!-- Gehaltsrechner Bild und Titel -->
            <div class="col-md-6 mb-0 text-center myspace">
                <div class="card">
                    <NavLink href="/EmployeeCalculator">
                        <img src="Pictures/gehaltsrechner_arbeitnehmer.jpg" class="img-fluid">
                        <div class="card-content">
                            <h2 class="mt-2 text-white">Angestellte</h2>
                        </div>
                    </NavLink>
                </div>
            </div>

            <!-- Kreditrechner Bild und Titel -->
            <div class="col-md-6 mb-0 text-center myspace">
                <div class="card">
                    <NavLink href="/FederalCalculator">
                        <img src="Pictures/gehaltsrechner_beamte.jpg" class="img-fluid" alt="Beamte">
                        <div class="card-content">
                            <h2 class="mt-2 text-white">Beamte</h2>
                        </div>
                    </NavLink>
                </div>
            </div>
        </div>

        <!-- Zweite Reihe mit zwei Bildern und Titeln -->
        <div class="row">
            <!-- Haushaltsrechner Bild und Titel -->
            <div class="col-md-6 mb-0 text-center myspace">
                <div class="card">
                    <NavLink href="/SelfemployeeCalculator">
                        <img src="Pictures/nettorechner_selbstständige.jpg" class="img-fluid">
                        <div class="card-content">
                            <h2 class="mt-2 text-white">Selbständige</h2>
                        </div>
                    </NavLink>
                </div>
            </div>

            <!-- Spartipps Bild und Titel -->
            <div class="col-md-6 mb-0 text-center myspace">
                <div class="card">
                    <NavLink href="/CompensationCalculator">
                        <img src="Pictures/abfindungsrechner_angestellte_steuer.jpg" class="img-fluid" alt="Spartipps">
                        <div class="card-content">
                            <h2 class="mt-2 text-white">Angestellte (Abfindung)</h2>
                        </div>
                    </NavLink>
                </div>
            </div>
        </div>
    </div>
</body>
