@page "/Nutzungsbedingungen"

<h3>Nutzungsbedingungen</h3>

@code {

}
<p>
    Bitte beachten Sie folgende Hinweise:
    Die Ergebnisse beruhen im Wesentlichen auf den von Ihnen selbst eingegebenen Daten. Eine Gewähr für die Richtigkeit der Rechenergebnisse
    kann daher nicht übernommen werden.
    Auch kann keine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der zur Verfügung gestellten Informationen
    übernommen werden.
    Die Ergebnisse zur Steuerberechnung stellen zudem keine Auskunft über Ihre persönliche Steuerschuld dar. Diese wird vom Finanzamt im
    Veranlagungsverfahren festgesetzt. Die Besonderheiten der Kirchensteuer (Kappung der Kirchensteuer und Mindestkirchensteuer) können hier
    nicht berücksichtigt werden. Die Ausnahmen der Kirchensteuer in Bayern und Baden-Württemberg und die Besonderheiten der Pflegeversicherung in Sachsen
    sind ebenfalls nicht berücksichtigt.
    <br />
    <br />
    Die Ergebnisse des Rechners können von Ihrer Abrechnung abweichen. Der Rechner kann veraltete, abweichende, unvollständige oder fehlerhafte Ergebnisse liefern.
    Jede Haftung ist ausgeschlossen.
    <br />
    <br />
    Es handelt sich um ein nicht kommerzielles Angebot. Die Nutzung ist kostenlos. Daher besteht keine Impressumspflicht. Cookies werden nicht gesetzt.
</p>