@page "/EmployeeCalculator"


<div class="center">
    <form class="max" method="post">

        <div class="left">
            <div class="form-check">
                <input onclick="radioCheck();" class="form-check-input" type="radio" name="Year" id="year2023" value="2023" @(Model.Year= =2023 ? "checked" : "" ) />
                <label class="form-check-label" for="year2023">2023</label>
            </div>
            <div class="form-check">
                <input onclick="radioCheck();" class="form-check-input" type="radio" name="Year" id="year2024" value="2024" @(Model.Year= =2024 ? "checked" : "" ) />
                <label class="form-check-label" for="year2024">2024</label>
            </div>
        </div>


        <!-- Firstname input -->
        <label class="form-label">Bruttoeinkommen</label>
        <input asp-for="GrossIncome" type="text" id="registerFirstname" class="form-control" value="3000" />


        <div class="left">
            <div class="form-check">
                <input onclick="radioCheck();" class="form-check-input" type="radio" name="BillingPeriod" id="month" value="month" checked />
                <label class="form-check-label" for="registerRadio1">
                    <!-- korrigiert for-Attribut -->
                    Monat
                </label>
            </div>
            <div class="form-check">
                <input onclick="radioCheck();" class="form-check-input" type="radio" name="BillingPeriod" id="month" value="year" />
                <label class="form-check-label" for="registerRadio2">
                    <!-- korrigiert for-Attribut -->
                    Jahr
                </label>
            </div>
        </div>


        <!-- Email input -->
        <label class="form-label">Steuerfreibetrag</label>
        <input asp-for="TaxFree" type="number" id="registerEMail" class="form-control" value="0" />

        <label class="form-label">Steuerklasse</label>
        <select id="bundesland" name="TaxClass" class="form-control">
            <option value="1">I</option>
            <option value="2">II</option>
            <option value="3">III</option>
            <option value="4">IV</option>
            <option value="5">V</option>
            <option value="6">VI</option>
        </select>


        <input type="hidden" id="ChurchInput" />
        <div class="left">
            <div class="form-check">
                <input onclick="radioCheck();" class="form-check-input" type="radio" name="InChruch" id="withchurch" value="true" />
                <label class="form-check-label" for="exampleRadios1">
                    Mit Kirchensteuer
                </label>
            </div>
            <div class="form-check">
                <input onclick="radioCheck();" class="form-check-input" type="radio" name="InChurch" id="withoutchurch" value="false" checked />
                <label class="form-check-label" for="exampleRadios2">
                    Ohne Kirchensteuer
                </label>
            </div>
        </div>

        <label for="bundesland">Bundesland:</label>
        <select id="bundesland" name="FederalState" class="form-control">
            <option value="BY">Bayern</option>
            <option value="BW">Baden-Württemberg</option>
            <option value="BE">Berlin</option>
            <option value="BB">Brandenburg</option>
            <option value="HB">Bremen</option>
            <option value="HH">Hamburg</option>
            <option value="HE">Hessen</option>
            <option value="MV">Mecklenburg-Vorpommern</option>
            <option value="NI">Niedersachsen</option>
            <option value="NW">Nordrhein-Westfalen</option>
            <option value="RP">Rheinland-Pfalz</option>
            <option value="SL">Saarland</option>
            <option value="SN">Sachsen</option>
            <option value="ST">Sachsen-Anhalt</option>
            <option value="SH">Schleswig-Holstein</option>
            <option value="TH">Thüringen</option>
        </select>


        <label class="form-label">Alter</label>
        <input asp-for="Age" type="number" id="registerEMail" class="form-control" value="25" />


        <label class="form-label">Kinder</label>
        <div class="left">
            <div class="form-check">
                <input onclick="radioCheck();" class="form-check-input" type="radio" name="HasChildren" id="registerRadio1" value="true" />
                <label class="form-check-label" for="exampleRadios1">
                    Ja
                </label>
            </div>
            <div class="form-check">
                <input onclick="radioCheck();" class="form-check-input" type="radio" name="HasChildren" id="registerRadio2" value="false" checked />
                <label class="form-check-label" for="exampleRadios2">
                    Nein
                </label>
            </div>
        </div>


        <label class="form-label">Kinderfreibeträge</label>
        <select id="bundesland" name="ChildTaxCredit" class="form-control">
            <option value="0">0</option>
            <option value="0.5">0.5</option>
            <option value="1">1</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
            <option value="2.5">2.5</option>
            <option value="3">3</option>
            <option value="3.5">3.5</option>
            <option value="4">4</option>
            <option value="4.5">4.5</option>
            <option value="5">5</option>
            <option value="5.5">5.5</option>
            <option value="6">6</option>
            <option value="6.5">6.5</option>
            <option value="7">7</option>
            <option value="7.5">7.5</option>
            <option value="8">8</option>
            <option value="8.5">8.5</option>
            <option value="9">9</option>
            <option value="9.5">9.5</option>
        </select>

        <label for="bundesland">Krankenversicherung:</label>
        <select id="bundesland" name="Insurance" class="form-control">
            <option value="GKV">gesetzlich</option>
            <option value="PKV">privat</option>
        </select>

        <label class="form-label">Krankenkassenzusatzbeitrag in %</label>
        <input asp-for="InsuranceAdditionTotal" type="number" id="registerEMail" class="form-control" />

        <label for="bundesland">Rentenversicherung:</label>
        <select id="bundesland" name="Pension" class="form-control">
            <option value="GKV">gesetzlich</option>
            <option value="PKV">keine Versicherung</option>
        </select>

        <label for="bundesland">Arbeitslosenversicherung:</label>
        <select id="bundesland" name="Unimployment" class="form-control">
            <option value="GKV">gesetzlich</option>
            <option value="PKV">keine Versicherung</option>
        </select>

        <button type="submit" asp-page-handler="Register" class="blue custom">Berechnen</button>


        <!-- Submit button -->


    </form>
    <style>
        .form-control {
            width: 100%; /* Setzen Sie die gewünschte Breite */
            padding: 0.5em; /* Etwas Polsterung für bessere Optik */
            border: 1px solid #ccc; /* Einen Rand hinzufügen */
            border-radius: 4px; /* Ecken abrunden für modernes Aussehen */
        }

            /* Sie können auch auf den Fokus und das aktive Zustand des Dropdowns Stile anwenden */
            .form-control:focus {
                border-color: #66afe9;
                outline: 0;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            }

        .form-control {
            width: 100%; /* Setzen Sie die gewünschte Breite */
            padding: 0.5em; /* Etwas Polsterung für bessere Optik */
            border: 1px solid #ccc; /* Einen Rand hinzufügen */
            border-radius: 4px; /* Ecken abrunden für modernes Aussehen */
            font-size: 0.7em; /* Vergrößert die Schriftgröße auf 120% des Elternelements */
        }

            /* Anpassungen für das Fokusverhalten */
            .form-control:focus {
                border-color: #66afe9;
                outline: 0;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            }

        button.custom {
            font-size: 1em;
            margin-top: 1.2em;
            margin-bottom: 1em;
        }

        button.blue {
            background: linear-gradient(to right, #36D1DC, #5B86E5);
            border: none;
            padding: 3px 25px;
            align-content: center;
            vertical-align: central;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            transition: background 0.3s;
            width: 10em;
            height: 2em;
        }

        .left {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px; /* Add margin between radio button groups */
        }

        .form-check {
            margin-right: 20px;
        }

        select.form-control option {
            font-size: 0.8em; /* Adjust the font size as needed */
            color: #333; /* Adjust the color as needed */
        }

        select.form-control {
            font-size: 0.9em; /* Adjust the font size as needed */
            color: #333; /* Adjust the color as needed */
        }

        input {
            font-size: 0.9em; /* Adjust the font size as needed */
            color: #333; /* Adjust the color as needed */
        }
    </style>


</div>
