@inherits LayoutComponentBase

<header class="hideWhenPrint d-flex justify-content-center" style="background-color: #BFF5E6;">
    <nav class="px-2 navbar navbar-expand-xxl navbar-toggleable-xl navbar-light hideWhenPrint">
        <a class="navbar-brand hideWhenPrint" id="central" href="/">
            <img class="custom hidewhenPrint" height="40" heigt="40" loading="lazy" src="Pictures/logo_steuerrechner_bruttonettorechner.webp" alt="logo" />Brutto-Netto-Rechner
        </a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass d-xl-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" id="red-text" href="/Angestelltenrechner">Angestellte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="orange-text" href="/Beamtenrechner">Beamte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="darkgreen-text" href="/Selbststaendigenrechner">Selbständige</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="darkyellow-text" href="/Abfindungsrechner">Abfindung</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "navbar-collapse collapse" : "navbar-collapse";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}