@inherits LayoutComponentBase

<header>
    <nav class="navbar navbar-expand-md navbar-toggleable-xl navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <NavLink class="navbar-brand" id="central" href="/">
                <img class="custom" height="50" heigt="50" src="Pictures/logo_steuerrechner_bruttonettorechner.png" alt="logo"/>Steuerrechner.online
            </NavLink>
            <button class="navbar-toggler" @onclick="ToggleNavMenu" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="@NavMenuCssClass d-xl-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" id="red-text" href="/Angestelltenrechner">Angestellte</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" id="orange-text" href="/Beamtenrechner">Beamte</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" id="darkgreen-text" href="/Selbststaendigenrechner">Selbständige</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" id="darkyellow-text" href="/Abfindungsrechner">Abfindung</NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "navbar-collapse collapse" : "navbar-collapse";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}